{% extends 'base.html' %}

{% block content %}

<h1>Edit Existing Product</h1>

<form action="{% url 'update_product' id=product.pk %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Save Product" />
</form>

<p><a href= "{% url 'show_product' id=product.pk %}" class = 'link'>Cancel changes</a></p>

<form action="{% url 'delete_product' id=product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete Product" />
</form>

{% endblock %}