{% extends 'base.html' %}

{% block content %}

<section>
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <!-- display the price in dollars by calling the function -->
    <h6>{{ product.price_in_dollars|floatformat:2}} </h6>
</section>

<ul>
{% for review in product.reviews.all %}
    <li>{{ review.comment }}
    [ <a href="/products/{{product.id}}/reviews/{{review.id}}/edit">Edit</a> | <a href="#">Delete</a> ]</li> 
{% endfor %}
</ul>

<form action="{% url 'create_review' product_id=product.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Comment" />
</form>
{% endblock %}